<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Arcade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="menu-buttons-container">
   <ion-button expand="block" shape="round" (click)="navegarA('/simon')">
  Simón Dice
</ion-button>
<ion-button expand="block" shape="round" (click)="navegarA('/piedra-papel-tijeras')">
  Piedra, Papel, Tijeras, Lagarto, Spock
</ion-button>
<ion-button expand="block" shape="round" (click)="navegarA('/tateti')">
  Ta-Te-Ti
</ion-button>
  </div>
</ion-content>